<div class="header">

  <div class="left">
    <h1 [routerLink]="['/home']">Johanna</h1>
  </div>

    <div class="social-links">
      <a href="https://nl.wikipedia.org/wiki/Johanna_(Huijbergen)" target="_blank"><i class="fab fa-wikipedia-w"></i></a>
      <a href="https://nl.wikipedia.org/wiki/Johanna_(Huijbergen)" target="_blank"><i style="margin-right:1.3%;" class="fab fa-facebook-square"></i></a>
      <a href="mailto:example@johanna.nl"><i class="fas fa-envelope-square"></i></a>
    </div>

    <div class="vertical-divider"></div>

    <div class="router-links">
        <p [routerLink]="['/contact']" style="margin-right: 0;">Contact</p>
        <p [routerLink]="['/steun']">Steun ons</p>
        <p [routerLink]="['/agenda']">Agenda</p>
        <p [routerLink]="['/johanna']">Johanna</p>
        <p [routerLink]="['/home']">Home</p>
      </div>

</div>