<div id="lightbox">
  <img id="lightbox-image">
</div>
<div class="start">
  <div class="a-container">
    <a (click)="scrollToAlgemeen()">Algemeen</a> <br>
    <div class="spacing"></div>
    <a (click)="scrollToGeschiedenis()">Geschiedenis</a> <br>
    <div class="spacing"></div>
    <a (click)="scrollToFotos()">Foto's</a> <br>
  </div>
</div>
<i class="fas fa-angle-down" (click)="scrollToContent()"></i>

<div class="container">
  <div class="content" style="margin-bottom: 50px;">
    <h1 id="title-1">Algemeen</h1>
    <div class="content-block" id="block-1">
      <img src="../../assets/1.JPG">
      <p id="p-1">
        Molen Johanna is een bergmolen of beltmolen met bovenkruier. Een ronde stenen molen. Op de zandgronden, zoals in
        Huijbergen bouwde men vaak molens op een aarden wal of berg. Van de bovenkruiers is alleen het bovenste
        gedeelte, de kap met de wieken, draaibaar. Andere type molens, zoals de standaardmolen en de wipmolen hebben het
        nadeel dat de hele molen of de halve molen in de heersende wind gedraaid moeten worden.
        <br><br>
        De wieken zijn het belangrijkste deel van de molen. Ze zijn van het type “Oud Hollands” en hebben een vlucht van
        23.10m.
        <br><br>
        Het kruiwerk zorgt ervoor dat de molen op de wind gedraaid kan worden. De Huijbergse molen is voorzien van een
        Engelse kruilier.
        <br><br>
        Als de molen stilgezet moet worden, gebeurt dat met de zogenaamde vang, in dit geval een Losse Vlaamse blokvang,
        voorzien van vangbalk met haak en vangstok.
        <br><br>
        Het interieur van de molen is een lust voor het oog. Ook al omdat de molen volledig maalvaardig is. Om de
        bovenas zit een bovenwiel met 63 kammen, alles van hout. Dat geldt ook voor de verticale hoofdas, de
        koningsspil. Aan die koningsspil zitten de schijflopen, zeg maar tandwielen, die de stenen aandrijven. Op de
        steenzolder staan twee koppels stenen.
        <br><br>
        In de onderbouw van de molen staat ook nog een maalstoel, die aangedreven kan worden door de molen zelf of door
        een antieke (1924) Deutz ééncilinder dieselmotor. Die motor op zich is al een bezoek aan de molen waard. Deze
        steen kan ook met een elektromotor aangedreven worden.
        <br><br>
        De molenaar maakt gebruik van het zogenaamde luiwerk, een takelsysteem om zakken graan en meel verticaal door de
        molen te transporteren. Uiteraard wordt dit luiwerk door de wind aangedreven, maar kan ook handmatig bediend
        worden.
        <br><br>
        De Johanna is een korenmolen, maar in het begin van de 20e eeuw werd ook een zagerij die zich buiten de belt
        bevond, aangedreven. Een poelie in de invaart van de molen is een stille getuige hiervan.
        <br><br>
        In de gevel van de molen is een gevelsteen te zien met het opschrift:
        <br><br>
        P.J. Backx
        <br>
        J.B. van Agtmaal
        <br>
        Burgemeester
        <br>
        1862
        <br>
        Hersteld 1999
        <br><br>
        De laatste is een vergissing en moet hoogstwaarschijnlijk “1969” zijn.
        <br>
        Deze gevelsteen is een kopie; het origineel wordt op de maalzolder bewaard en verkeert in zeer bekoorlijk
        leesbare staat.</p>
    </div>
    <h1 id="title-2">Geschiedenis</h1>
    <div class="content-block" id="block-2">
      <img src="../../assets/3.jpg">
      <p id="p-2">
        Na de onafhankelijkheid van België in 1830 bleef de bevolking van Kalmthoutse Hoek in Huijbergen naar de kerk
        gaan, waar Marinus de Bie pastoor was. Zijn parochie bevond zich in twee landen toen in 1839 de grenzen zijn
        vastgesteld.
        <br><br>
        De boeren van Huijbergen lieten hun granen malen bij de molen van Creytenborg, vanaf 1839 dus in België.
        <br><br>
        De boeren van “Den Hoek” verlangden een eigen parochie en die werd in 1859 opgericht.
        <br><br>
        De oprichting van de parochie in Kalmthoutse Hoek betekende een achteruitgang van de inkomsten van de kerk en
        pastoor in Huijbergen. Daar ligt de oorsprong van de Huijbergse molen.
        <br><br>
        Op initiatief van pastoor De Bie liet landbouwer/koopman Petrus Johannes Backx in 1862 de molen bouwen.
        <br><br>
        Uit de verleende vergunning blijkt dat het ook de bedoeling was om de molen als oliemolen te gaan grbuiken.
        Backx zou twintig jaar op de molen blijven, met hulp van de uit Rucphen afkomstige inwonende knecht Jacobus van
        Beethoven.
        <br><br>
        De volgende eigenaar was Erasmus (Muske) van den Berg. Hij werkte en woonde er van 1882 tot 1908. Hij leende van
        de Armenraad 10.000 gulden en kocht de molen van pastoor De Bie voor waarschijnlijk 18.000 gulden.
        <br><br>
        In 1908 werd het molenbedrijf voor 28.000 gulden verkocht aan J. Goris uit Ossendrecht. Na zijn overlijden werd
        de zaak voortgezet door zijn weduwe en de zoons Jo en Piet. Piet was de eigenlijke meulder. Het oude molenhuis
        werd afgebroken en vervangen door een nieuw. De familie Goris woonde in de nieuwe woning. Onze molenaar in
        opleiding Judo Goris is geboren op die plek.
        <br><br>
        Rond 1914 werden nog heel wat herstellingen aan de molen gedaan.
        <br><br>
        De molen is lang geleden buiten bedrijf geraakt. In de oorlogsjaren 1940-1945 deed de molen nog dienst, bij
        gebrek aan elektriciteit. Daarna lag hij stil. De herstellingskosten zouden te hoog zijn gerweest en veel boeren
        maalden hun granen zelf. De molen raakte in verval: het dak was lek, de ramen stuk, een wiek was afgewaaid en de
        molenberg een wildernis.
        <br><br>
        Bij het gemeentebestuur van Huijbergen groeide de belangstelling voor dit historisch object. De gemeenteraad
        besloot in 1966 de molen aan te kopen. J.Q. Goris verkocht de molen dus aan de gemeente, die in 1968 en 1969 een
        grote restauratie liet uitvoeren door molenbouwer A. Doornbosch uit Adorp. Na deze restauratie is door de
        molenbouwer op de kop van de molen duidelijk zichtbaar vermeld: “1862-Johanna-1968”. De jaartallen zijn wel
        duidelijk, maar de naam Johanna was nog niet eerder in beeld. De naam “Johanna” werd, volgens de overlevering
        ingebijteld, in een van de oude balken, aangetroffen. De molenbouwer doopte de molen tot molen Johanna.
        <br><br>
        Tijdens zo’n grootscheepse verbouwing worden vaak onderdelen gebruikt van eerder gesloopte molens. Dat is hier
        ook het geval. Enkele onderdelen zouden afkomstig zijn van de in 1965 gesloopte korenmolen De Dankbaarheid te
        Middelharnis.
        <br><br>
        De molen is vanaf 1969 verzorgd door vrijwillige molenaars. De toenmalige gemeente Huijbergen en de huidige
        gemeente Woensdrecht houden de molen bouwtechnisch in uitstekende staat. Aan een molen zitten veel draaiende
        delen van hout en het dak en kruiwerk zijn ook van hout. Dit alles moet in topconditie zijn om te kunnen
        draaien.
        <br><br>
        De monumentenwacht beoordeelt de molen regelmatig en een molenbouwer krijgt vervolgens opdracht om de
        herstelwerkzaamheden uit te voeren. Gelukkig maar, want deze molen is een kostbaar erfgoed, niet alleen voor
        Huijbergen, maar voor de hele gemeente Woensdrecht. Alle andere molens in de gemeente zijn al lang geleden
        verdwenen.
        <br><br>
        Hans Oele was zeer lang vrijwillig molenaar van de Johanna. Om gezondheidsredenen is hij rond de jaarwisseling
        2018/2019 met zijn werkzaamheden gestopt. Mede door hem verkeert de molen nog steeds in topconditie en velen
        hebben goede herinneringen aan zijn mooie verhalen en rondleidingen door de molen.
        <br><br>
        Enkele Huijbergenaren, onder voorzitterschap van Theo Sanders, zijn met de gemeente in overleg geweest over de
        exploitatie en het beheer van de molen. Dat heeft geleid tot de oprichting van de Stichting Molen Johanna
        Huijbergen. Theo, molenaar in opleiding, is voorzitter van de stichting.
        <br><br>
        De molen heeft een tijdlang niet gedraaid, maar nu in 2019, draait hij regelmatig onder het toeziend oog van Bas
        Verbiest, doorgewinterde molenaar in Veere en Krabbendijke.</p>
    </div>
  </div>

  <h1 id="title-4">Foto's</h1>
  <div class="image-row">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
  </div>
  <div class="image-row spacing-2">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
    <img (click)="openLightbox('../../assets/2.JPG')" src="../../assets/2.JPG">
  </div>
</div>