<div id="map" class="map"></div>
<div class="container">
    <div class="content-block block-1">
        <br>
            <h1>Correspondentieadres</h1>
            <p>Secretaris Stichting Molen Johanna Huijbergen</p>
            <br><br>
            <b>Adres: </b>
            <p>Dorpsstraat 17, 4635 BC Huijbergen</p>
            <br> <br>

        </div>

        <div class="content-block block-2">
                <br>
                    <h1>Molenadres</h1>
                    <b>E-mailadres: </b>
                    <a href="mailto:info@molenjohannahuijbergen.nl"><p>info@molenjohannahuijbergen.nl</p></a>
                    <br> <br>
                    <b>Adres: </b>
                    <p>Bergsestraat 25b, 4635 RD Huijbergen</p>
                    <br> <br>
                    <b>Agenda: </b>
                    <a routerLink="agenda">Zie agenda en openingstijden</a>
                    <br><br>
                    <b>Telefoon: </b>
                    <p>0164 642102</p>
                    <br> <br>
                </div>
        <div style="clear: both;"></div>
        <div class="bestuur">
                    <h1>Vrijwilligers</h1>
                    <p>Theo Sanders, voorzitter </p>
                    <br><br>
                    <p>Johan Plevier, secretaris</p>
                    <br><br>
                    <p>Louis van de Wouw, penningmeester</p>
                    <br><br>
                    <p>Frans Hazenbosch</p>
                    <br><br>
                    <p>Paul Lucas</p>
                    <br><br>
                    <p>Fred Severin</p>
                </div>
</div>