<div id="map" class="map"></div>
<div class="container">
    <h1>Contact</h1>
    <div class="content-block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium in lacus
            ullamcorper interdum. Etiam malesuada, erat vitae cursus interdum, lacus urna tempus nisl, ac rutrum
            lacus ipsum
            sed velit. Quisque ac placerat lectus, eget pharetra mi. Nunc sit amet urna consectetur, fermentum nibh
            in,
            faucibus lacus. Ut facilisis euismod neque. Curabitur felis lectus, pellentesque eget finibus vitae,
            laoreet nec
            magna. </p>
        <br> <br>
        <div class="information">
            <b>E-mailadres: </b>
            <p>email@mail.com</p>
            <br> <br>
            <b>Telefoon: </b>
            <p>0164-19191919</p>
            <br> <br>
            <b>Adres: </b>
            <p>Bergsestraat, 4635 RD Huijbergen</p>
            <br> <br>
            <b>Agenda: </b>
            <a routerLink="agenda">Zie agenda en openingstijden</a>
            <br><br>
        </div>
    </div>
<!-- 
    <h1 id="title-2">Vrijwilligers</h1>
    <div class="content-block-2">
        <div class="icons">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
        </div>
        <div class="icons">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
            <img src="../../assets/user.png">
        </div>
    </div> -->
</div>