<div class="container">
  <div class="content" style="margin-bottom: 50px;">
    <img src="../../assets/2.JPG">
    <h1 id="title-1">(11 en 12 mei) Nationale Molenweekend</h1>
    <div class="content-block" id="block-1">
      <p id="p-1">
        Het weekend 11 en 12 mei is het Nationale Molenweekend. Theo Sanders en Judo Goris zijn onze molenaars in
        opleiding. Theo is voorzitter van de Stichting Molen Johanna en Judo
        <br><br>
        stamt uit een Huijbergs molenaarsgeslacht. Maar... molenaars in opleiding mogen de molen niet laten werken. De
        verzekering dekt de schade niet als er iets verkeerd gaat. Geen nood: Bas Verbiest, doorgewinterde molenaar van
        de molens in Veere en Krabbendijke, is zondag 12 mei onze molenaar. Dat is niet de eerst keer: tijdens de
        Westbrabantse molendag op 31 maart was hij er ook. Die dag bezochten 153 mensen de molen. Een geweldig succes!
        Op die dag trok de molen bezoekers uit alle windstreken.</p>
    </div>
  </div>
</div>