<div class="container">
  <div class="info">
    <h1>Openingstijden</h1>

    <div class="time-block">
      <p class="p-left">Maandag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>
    <div class="time-block">
      <p class="p-left">Dinsdag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Woensdag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Donderdag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Vrijdag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Zaterdag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Zondag</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <!-- speciale dagen -->

    <hr>

    <div class="time-block">
      <p class="p-left">Kerstmis</p>
      <p class="p-right">Gesloten</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Nieuwjaar</p>
      <p class="p-right">Gesloten</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
      <p class="p-left">Pasen</p>
      <p class="p-right">10:00 - 15:00</p>
    </div>
    <div class="clear"></div>

    <div class="time-block">
        <p class="p-left">Pinksteren</p>
        <p class="p-right">10:00 - 15:00</p>
      </div>

  </div>

  <div id="fb-desktop" class="fb-page" data-width="390" data-height="500px" data-tabs="timeline,events" data-href="https://www.facebook.com/westbrabantsemolens"></div>
  <div id="fb-mobile" style="height: 25px;"></div>
  <div id="fb-mobile" class="fb-page" data-tabs="timeline,events" data-href="https://www.facebook.com/westbrabantsemolens"></div>

</div>