<div class="start">
<h1 class="motto">Molen Johanna</h1>
</div>
<i class="fas fa-angle-down" (click)="scrollToContent()"></i>

<div class="container">
	<div class="content" style="margin-bottom: 50px;">
		<h1 id="title-1">Algemeen</h1>
		<div class="content-block" id="block-1">
			<img src="../../assets/2.JPG">
			<p id="p-1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium in lacus
				ullamcorper interdum. Etiam malesuada, erat vitae cursus interdum, lacus urna tempus nisl, ac rutrum
				lacus ipsum
				sed velit. Quisque ac placerat lectus, eget pharetra mi. Nunc sit amet urna consectetur, fermentum nibh
				in,
				faucibus lacus. Ut facilisis euismod neque. Curabitur felis lectus, pellentesque eget finibus vitae,
				laoreet nec
				magna. Sed placerat turpis vitae molestie scelerisque. Fusce cursus arcu a ipsum iaculis, eu dictum
				ipsum
				malesuada. Ut sollicitudin luctus sem a sagittis. Cras in leo sed leo placerat euismod.
				<br><br>
				Vestibulum id nisi viverra, mattis diam venenatis, vulputate lectus. Nunc eleifend sem bibendum,
				ullamcorper
				neque vulputate, cursus dolor. Pellentesque a turpis aliquam, pharetra purus a, dictum mi. Nunc eleifend
				sem bibendum, ullamcorper
				neque vulputate, cursus dolor. Pellentesque a turpis aliquam, pharetra purus a, dictum min.</p>
		</div>
		<h1>Kom gerust langs</h1>
		<div class="content-block" id="block-2">
			<img src="../../assets/3.jpg">
			<p id="p-2">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium in lacus
				ullamcorper interdum. Etiam malesuada, erat vitae cursus interdum, lacus urna tempus nisl, ac rutrum
				lacus ipsum
				sed velit. Quisque ac placerat lectus, eget pharetra mi. Nunc sit amet urna consectetur, fermentum nibh
				in,
				faucibus lacus. Ut facilisis euismod neque. Curabitur felis lectus, pellentesque eget finibus vitae,
				laoreet nec
				magna. Sed placerat turpis vitae molestie scelerisque. Fusce cursus arcu a ipsum iaculis, eu dictum
				ipsum
				malesuada. Ut sollicitudin luctus sem a sagittis. Cras in leo sed leo placerat euismod. 
				<br><br>
				Vestibulum id nisi viverra, mattis diam venenatis, vulputate lectus. Nunc eleifend sem bibendum,
				ullamcorper
				neque vulputate, cursus dolor. Pellentesque a turpis aliquam, pharetra purus a, dictum mi.</p>
		</div>
	</div>
</div>