<div class="start">
	<h1 class="motto">Molen Johanna</h1>
</div>
<i class="fas fa-angle-down" (click)="scrollToContent()"></i>

<div class="container">
	<div class="content" style="margin-bottom: 50px;">
		<h1 id="title-1">Algemeen</h1>
		<div class="content-block" id="block-1">
			<img src="../../assets/2.JPG">
			<p id="p-1">
				De Johanna is een ronde stenen molen aan de Bergsestraat 25 te Huijbergen, in de Noord-Brabantse
				gemeente Woensdrecht. De molen is in 1862 in opdracht van Petrus Johannes Backx gebouwd, op aanraden van
				de pastoor van de plaatselijke parochie, die een molen in zijn parochie wilde hebben. De parochie was in
				1859 gehalveerd omdat Kalmthoutse Hoek was weggevallen.
				<br><br>
				Na de afscheiding van België in 1830 was er een landsgrens door de parochie getrokken, maar de parochie
				is daarna nog bijna dertig jaar een geheel gebleven.
				<br><br>
				De bouwvergunning die voor de Johanna is verleend vermeldde ook gebruik als oliemolen en mogelijk is de
				molen ook als zodanig ingericht geweest. Ook bevond zich een zaagwerk in de Johanna.
				<br><br>
				Tijdens de Tweede Wereldoorlog werd de molen gebruikt om graan te malen en elektriciteit op te wekken.
				<br><br>
				In de jaren 60 van de twintigste eeuw raakte de molen in verval. Hij werd in 1966 aan de gemeente
				Huijbergen verkocht, die hem meteen heeft laten restaureren. In de jaren 1968/1969 is de molen
				maalvaardig gemaakt. Hij wordt tegenwoordig regelmatig door vrijwillige molenaars bedreven.</p>
		</div>
		<h1>Kom gerust langs</h1>
		<div class="content-block" id="block-2">
			<img src="../../assets/3.jpg">
			<p id="p-2">
				Molen Johanna staat vlakbij de voormalige melkfabriek in Huijbergen. Het adres van de molen is
				Bergsestraat 25 4635RD Huijbergen.
				<br><br>
				Huijbergen heeft een lange, interessante geschiedenis. Zeer de moeite waard om hiervan kennis te nemen.
				<br><br>
				Voor een bezoek aan de molen is het goed te weten dat Huijbergen is omgeven door prachtige
				natuurgebieden zoals de Wouwse Plantage, de Kalmthoutse heide, de Groote Meer, Zurenhoek, Kortenhoeff,
				Staartse Duinen, de Kooiheide en niet te vergeten de bossen van de Volksabdij O.L.V. ter Duinen. Een
				bezoek brengen aan de molen kan een dagje uit in natuur én cultuur zijn.
				<br><br>
				De molen is op afspraak te bezoeken. Klik hiervoor op de contactknop bovenaan deze pagina of op de tab
				“Contact”. Op zondagmiddag is de molen altijd open en meestal ook op woensdagmiddag. En als u toevallig
				langs komt: kijk of de vlag wappert, want in dat geval is er iemand aanwezig om u rond te leiden.
				<br><br>
				Er zijn activiteiten in en rond de molen. Klik hiervoor op de tab “Agenda”.</p>
		</div>
	</div>
</div>