<div class="container">
  <div id="content-wrap">
    <img src="../../assets/charity.png">
    <h1 id="title-1">Algemeen</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium in lacus
        ullamcorper interdum. Etiam malesuada, erat vitae cursus interdum, lacus urna tempus nisl, ac rutrum
        lacus ipsum
        sed velit. Quisque ac placerat lectus, eget pharetra mi. Nunc sit amet urna consectetur, fermentum nibh
        in,
        faucibus lacus. Ut facilisis euismod neque. Curabitur felis lectus, pellentesque eget finibus vitae,
        laoreet nec
        magna. Sed placerat turpis vitae molestie scelerisque. Fusce cursus arcu a ipsum iaculis, eu dictum
        ipsum
        malesuada. Ut sollicitudin luctus sem a sagittis. Cras in leo sed leo placerat euismod.
        <br><br>
        Vestibulum id nisi viverra, mattis diam venenatis, vulputate lectus. Nunc eleifend sem bibendum,
        ullamcorper
        neque vulputate, cursus dolor. Pellentesque a turpis aliquam, pharetra purus a, dictum mi. Nunc eleifend
        sem bibendum, ullamcorper
        neque vulputate, cursus dolor. Pellentesque a turpis aliquam, pharetra purus a, dictum min.</p>
    </div>
  </div>
  <footer id="footer">
    <h1>Onze sponsoren</h1>
    <hr>
    <div class="icons">
    <i class="far fa-eye"></i>
    <i class="fab fa-pied-piper-alt"></i>
    <i class="fas fa-igloo"></i>
    <i class="fab fa-slack"></i>
    <i class="fas fa-shipping-fast"></i>
  </div>
  </footer>
</div>