/* PHONE */

@media only screen and (max-width: 751px) {
    .container, .a-container {
        margin-left: 8vw;
        margin-right: 8vw;
        padding-bottom: 5%;
    }

    .sponsor {
        width: 86%;
        display: block;
        position: absolute;
        bottom: 0;
    }
}

/* TABLET */

@media only screen and (max-width: 1100px) and (min-width: 752px) {
    .container, .a-container {
        margin-left: 9vw;
        margin-right: 9vw;
        padding-bottom: 29%;
    }

    .sponsor {
        width: 83%;
        display: block;
        position: absolute;
        bottom: 0;
    }
}

/* DESKTOP */

@media only screen and (min-width: 1101px) {
    .container, .a-container {
        margin-left: 15vw;
        margin-right: 15vw;
        padding-bottom: 23%;
    }

    .sponsor {
        width: 74%;
        display: block;
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 934px) {
    #title-1 {
        padding: 0;
        margin-bottom: 17px;
        margin-top: 50px;
    }
    p {
        width: 100%;
    }
    img {
        width: 100%;
        margin-top: 15px;
    }
    i {
        font-size: 8rem;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 935px) {
    #title-1 {
        padding: 0;
        margin-bottom: 17px;
        margin-top: 120px;
    }
    p {
        width: 60%;
        float: left;
    }
    img {
        width: 35%;
        float: right;
        margin-top: 15px;
    }

      #footer {
        position: absolute;
        bottom: 0;
        width: 72%;
        height: 230px;
        background-color: white;
      }

      #footer h1{
          font-size: 26px;
          text-align: center;
      }

      i {
          font-size: 7rem;
          margin-top: 15px;
          margin-left: 30px;
          margin-right: 30px;
      }

      .icons{
          width: fit-content;
          margin: auto;
      }
}