<div class="container">
  <div id="content-wrap">
    <img id="image" src="../../assets/2.JPG">
    <div>
      <p>
        Zonder vrijwilligers kan een molen niet draaien en bezoek ontvangen. Het is heel leuk om in en om de molen te
        werken en wij zoeken daar vrijwilligers voor.
        <br><br>
        De Molenstichting Noord-Brabant organiseert cursussen voor vrijwilligers. Bij voldoende deelname komt men zelfs
        naar Huijbergen om de cursus te verzorgen.
        <br><br>
        Vrijwilligers zijn betrokken bij:
        <i>
        <br>
        De openstelling van de molen.
        <br>
        Ontvangst en rondleiden van bezoekers.
        <br>
        Activiteiten organiseren.
        <br>
        Het schoon houden van de molen.
        <br>
        tuinonderhoud rond de molen.
        <br>
        Koffie en thee schenken.
        <br>
        Verkoop van molenproducten.
        </i>
        <br><br>
        Als u belangstelling hebt voor dit vrijwilligerswerk neem dan contact op met Theo Sanders, voorzitter van de
        Molenstichting Johanna, telefoon 0164-642102, mobiel 0652857338.
        <br>
        Of stuur een bericht d.m.v. het icoontje op homepage.</p>
    </div>
  </div>
  <div style="clear: both;"></div>
  <footer id="footer">
    <h1>Onze sponsoren</h1>
    <hr>
    <div class="icons">
      <a href="https://www.woensdrecht.nl/" target="_blank"><img src="../../assets/logo.png"></a>
    </div>
  </footer>
</div>