<div class="container">
  <div id="content-wrap">
    <div>
      <img id="image" src="../../assets/2.JPG">
      <h1>Vrijwilligers</h1>
      <p>
        Zonder vrijwilligers kan een molen niet draaien en bezoek ontvangen. Het is heel leuk om in en om de molen te
        werken en wij zoeken daar vrijwilligers voor.
        <br><br>
        De Molenstichting Noord-Brabant organiseert cursussen voor vrijwilligers. Bij voldoende deelname komt men zelfs
        naar Huijbergen om de cursus te verzorgen.
        <br><br>
        Vrijwilligers zijn betrokken bij:
        <i>
          <br>
          De openstelling van de molen.
          <br>
          Ontvangst en rondleiden van bezoekers.
          <br>
          Activiteiten organiseren.
          <br>
          Het schoon houden van de molen.
          <br>
          tuinonderhoud rond de molen.
          <br>
          Koffie en thee schenken.
          <br>
          Verkoop van molenproducten.
        </i>
        <br><br>
        Als u belangstelling hebt voor dit vrijwilligerswerk neem dan contact op met Theo Sanders, voorzitter van de
        Molenstichting Johanna, telefoon 0164-642102, mobiel 0652857338.
        <br>
        Of stuur een bericht d.m.v. het icoontje op homepage.</p>
    </div>
    <div style="clear: both;"></div>
    <div>
      <h1>Vriend van de molen</h1>
      <p>
        U kunt ons helpen de molen in stand te houden door “Vriend” van de molen te worden. Voor slechts €15,- per jaar
        (of meer) helpt u al mee.
        <br><br>
        Dit kunt u doen door een bedrag over te maken op bankrekening NL72RABO0338350764 t.n.v. Stichting Molen Johanna
        Huijbergen.
        <br><br>
        Vergeet niet uw adresgegevens of emailadres te vermelden om op de hoogte te blijven van de activiteiten in en
        rond de molen. U krijgt een uitnodiging van een “Vriendendag”</p>
    </div>
    <div style="clear: both;"></div>
    <div>
      <h1>Sponsors</h1>
      <p>
        De Stichting Molen Johanna is op 1 januari 2019 opgericht. We zijn nog maar kort bezig, maar er wordt hard
        gewerkt om de hoge cultuurhistorische waarde van de molen in stand te houden.
        <br><br>
        Er moet nog veel gebeuren. In ieder geval is een al of niet permanent gebouw nodig om bezoekers te ontvangen. De
        gemeente is hiervoor van grote betekenis. Ongetwijfeld heeft de Stichting voor allerlei activiteiten, die elders
        op de website te vinden zijn, sponsors nodig.
        <br><br>
        Ondanks de belangeloze inzet van vrijwilligers is er geld nodig.
        <br><br>
        Wij zijn op zoek naar sponsors die, naast de bijdrage van de Vrienden van de molen, een donatie willen doen van
        €100,- of meer per jaar.
        <br><br>
        Wat bieden wij:
        <br><i>
          Onze sponsors worden vermeld op de website en andere uitingen.
          <br>
          De sponsoren worden genoemd in de contacten met de media.
          <br>
          Wij schenken aandacht aan sponsors op de wijze die hen het beste past.</i>
        <br><br>
        Wilt u met uw bedrijf sponsor worden, neem dan contact met ons op via de contactpagina of het icoontje bovenaan
        de homepage.</p>
    </div>
    <div style="clear: both;"></div>

    <div>
      <h1>molenproducten</h1>
      <p>
        Op dit moment wordt in de Johanna nog geen meel gemalen.
        <br>
        Toch is het al mogelijk ons te steunen door meelproducten te kopen in de molen. Die zijn afkomstig van molen de
        Arend in Wouw.
<br>
        Diverse mixen zijn te koop: voor wit en bruin brood, pannenkoeken, poffertjes en cake.</p>
    </div>
  </div>
  <div style="clear: both;"></div>
  <footer id="footer">
    <h1>Onze sponsoren</h1>
    <hr>
    <div class="icons">
      <a href="https://www.woensdrecht.nl/" target="_blank"><img src="../../assets/logo.png"></a>
    </div>
  </footer>
</div>